VITE_COGNITO_AUTHORITY=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_Jnr0lbtww
VITE_COGNITO_CLIENT_ID=31dkaql69968ekhbva75tvkkuh
VITE_COGNITO_DOMAIN=https://swim-core-dev-auth.auth.us-east-1.amazoncognito.com
VITE_COGNITO_REDIRECT_URI=http://localhost:3000/auth/callback
VITE_COGNITO_LOGOUT_URI=http://localhost:3000/
VITE_COGNITO_SCOPE=openid email profile
VITE_API_BASE_URL=https://4tpyfixl57.execute-api.us-east-1.amazonaws.com
